@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1vw;
  color: #ffffff;
  background-color: #e0092d;
  margin-bottom: 4vw;
}

body header img {
  width: 6%;
  margin-right: 2vw;
}

body header h1 {
  font-size: 2.4vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

body header h1 sub {
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0vw 2vw 2vw 2vw;
}

body main #form_errors {
  position: fixed;
  width: 25vw;
  top: 2vw;
  right: 2vw;
}

body main #form_errors button {
  width: 100%;
  text-align: right;
  background-color: transparent;
  color: #050505;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.2vw;
}

body main #form_errors div #messagesContainer div {
  padding: 0.6vw;
  color: #e0092d;
  border-width: 0.1vw;
  margin-bottom: 1vw;
  background-image: linear-gradient(45deg, #adadad, #e0e0e0);
}

body main #form_errors div #messagesContainer div p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1vw;
}

body main #form_errors div div:first-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#383838), to(#272727));
  background-image: linear-gradient(180deg, #383838, #272727);
  color: #ffffff;
  margin-bottom: 1vw;
  padding: 0.6vw;
}

body main #form_errors div div:first-child h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2vw;
}

body main .section_data {
  margin-bottom: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main .section_data .div_container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body main .section_data .info2,
body main .section_data #info1 {
  width: 1.4vw;
}

body main .section_data .info2:hover,
body main .section_data #info1:hover {
  cursor: pointer;
}

body main .section_data h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2vw;
}

body main .section_data textarea {
  resize: none;
  display: block;
  width: 40vw;
  height: 20vw;
  margin-top: 1.5vw;
  padding: 1vw;
}

body main .section_data input {
  width: 20vw;
  height: 1vw;
  margin-top: 1.5vw;
  padding: 0.7vw;
}

body main .section_data input,
body main .section_data textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1vw;
  border-style: solid;
  border-radius: 0.2vw;
  border-width: 1px;
}

body main .section_data [type="file"] {
  border: none;
  width: 28vw;
}

body main .section_data [name^="title"] {
  font-size: 1.4vw;
  height: 1.4vw;
  font-weight: 500;
}

body main #politic div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #politic div legend {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-left: 0.5vw;
  font-size: 1.4vw;
}

body main #politic button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2vw;
  padding: 0.8vw;
  margin-top: 2vw;
  border-radius: 0.4vw;
  background-color: #e0092d;
  -webkit-box-shadow: 5px 5px 10px #272727;
          box-shadow: 5px 5px 10px #272727;
  color: #ffffff;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: box-shadow, background-color;
  transition-property: box-shadow, background-color, -webkit-box-shadow;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

body main #politic button:hover {
  background-color: #050505;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

body main #politic button:active {
  background-color: #383838;
}
/*# sourceMappingURL=index.css.map */